:root{
    --scale-ratio: 1.811624;
}

@keyframes channel-display {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes animation-reset {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}
@keyframes volume-reset {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

@keyframes tvoff {
    0% {
        background: white;
    }
    20% {
        transform: scaleY(.01)
    }
    30% {
        transform: scale(.01, .02);
        border-radius: 0;
    }
    35% {
        border-radius: 100%;
        transform: scale(.01, .02)
    }
    45% {
        transform: scale(.05, .1)
    }
    60% {
        transform: scale(0);
        border-radius: 100%;
    }
    100% {
        transform: scale(0);
        border-radius: 100%;
    }
}
h1, h2{
    margin: 0 0 .4vw 0;
    font-size: 1.6vw;
}
h2{
    font-size: 1.0vw;
}
h3{
    margin: 0 0 .4vw 0;
}
.contents .left,
.contents .right {
    font-size: .85vw;
}
p {
    margin: 0 0 .5vw 0;
}
a{
    color: limegreen;
}
a:visited{
    color: darkgreen;
}
ul {
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;
}
ul li {
    text-indent: 0;
    list-style-position: inside;
    margin: 0 0 .3vw 0;
}
.zoom h1, .zoom h2 {
    margin: 0 0 calc(.4vw * var(--scale-ratio)) 0;
    font-size: calc(1.6vw * var(--scale-ratio));
}
.zoom h2 {
    margin: 0 0 calc(.4vw * var(--scale-ratio)) 0;
    font-size: calc(1.25vw * var(--scale-ratio));
}
.zoom .contents .left,
.zoom .contents .right {
    font-size: calc(.85vw * var(--scale-ratio));
}
.zoom p {
    margin: 0 0 calc(.5vw * var(--scale-ratio)) 0;
}
.zoom ul li {
    margin: 0 0 calc(.3vw * var(--scale-ratio)) 0;
}
.container {
    width: 100%;
    height: 100%;
    position: relative;
    transition: .3s ease-out;
    transform-origin: 53.9% 39.3%;
}
.zoom {
    transform: scale(var(--scale-ratio));
}
.rick-bg {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    pointer-events: none
}
body {
    overflow: hidden;
    background: rgb(181, 213, 179);
/*    cursor: url(../images/rick-hand-64.png) 10 2, url(../images/rick-hand-small.png) 20 2, auto;*/
}
body * {
/*    cursor: url(../images/rick-hand-64.png) 10 2, url(../images/rick-hand-small.png) 20 2, auto;*/
}
html[data-useragent*=Firefox] #video {
    z-index: 2;
}
html[data-useragent*=Firefox] #video:before {
    display: none;
}
.cover {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    z-index: 4
}
.tv-on .cover {
    display: none;
}
.tv-off .cover.animated {
    z-index: 5;
    animation: tvoff .6s ease-out;
}
.tv-on .offline .cover.static{
    background: url('../images/static.gif');
    background-size: cover;
    display: block;
    z-index: 0;
}


.tv-on .offline .cover.static:after{
    content: "NO SIGNAL";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    color: limegreen;
    font-weight: bold;
    font-size: 3vw;
    padding: .4vw;
    background: rgba(0,0,0,.5);
}

.tv-on .zoom.offline .cover.static:after{
    font-size: calc(3vw * var(--scale-ratio));
    padding: calc(.4vw * var(--scale-ratio))
}

#video {
    width: 36.8%;
    top: 25.2%;
    position: absolute;
    left: calc(52.25%);
    transform: translateX(-50.1%);
    z-index: 1;
}
#video:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: black;
    top: 0;
    z-index: -1;
    transform: scale(1.05);
}
#video::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: scale(1.05);
    pointer-events: none;
    transition: .3s ease-out;
}
html[data-useragent*=Firefox] #video:after {
    background: url(../images/tv-cover.png) center;
    background-size: contain;
}
html[data-useragent*=Firefox] .menu-overlay #video:after,
html[data-useragent*=Firefox] .menu-overlay #video::before {
    margin-top: -1%;
}
.zoom #video {
    width: 66.667%;
    top: 10.5%;
    transform: translateX(-50.1%) scale(.55199092085);
}
#yt-contain {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    top: 0;
    transform-origin: 5% 11%;
    transform: scale(1);
    transition: .4s ease-out, border .4s linear;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 1);
    backface-visibility: hidden;
    border: 0px solid white;
    /*    display: none;*/
}
.channel:after,
.mute .channel:before {
    display: block;
    position: absolute;
    font-family: "Arial", sans-serif;
    font-size: 36px;
    font-size: 1.88vw;
    color: limegreen;
    backface-visibility: hidden;
    padding: 5px;
    opacity: 0;
    top: 4.5%;
    pointer-events: none
}
.channel:after {
    background: rgba(0, 0, 0, .5);
    content: "CH-" attr(data-channel-id);
    left: 2.15%;
    opacity: 1;
}
.mute .channel:before {
    content: "\01F507";
    opacity: 1;
    right: 2.15%;
    font-size: 2.4vw;
    z-index: 1;
    line-height: 1;
}
.channel.show:after {
    animation: channel-display 5s forwards;
}
.channel.reset-animation:after {
    animation: animation-reset .1s forwards;
}
.menu-overlay .channel:after {
    animation: none;
}
.zoom.mute .channel:before {
    font-size: calc(2.4vw * var(--scale-ratio));
}
.zoom #yt-contain:after {
    font-size: calc(1.88vw * var(--scale-ratio));
}
.menu-overlay #yt-contain {
    transform: scale(.41);
    border: 6px solid white;
}
.zoom .menu-overlay #yt-contain {
    border: calc(6px * var(--scale-ratio)) solid white;
}

.volume:after{
    pointer-events: none;
    position: absolute;
    z-index: 1;
    animation: channel-display 3s forwards;
    font-size: 3vw;
    font-weight: bold;
    font-family: "PT Mono", monospace;
    color: limegreen;
    bottom: 1vw;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%) scale(.7,.6);
}

.zoom .volume:after{
    font-size: calc(3vw * var(--scale-ratio));
    bottom: calc(1vw * var(--scale-ratio));
}
.volume.reset-animation:after {
    animation: volume-reset .1s forwards;
}
.mute .volume:after{
    visibility: hidden;
}

.volume[data-volume="10"]:after{
    content: "VOL |•••••••••";
}
.volume[data-volume="20"]:after{
    content: "VOL ||••••••••"
}
.volume[data-volume="30"]:after{
    content: "VOL |||•••••••"
}
.volume[data-volume="40"]:after{
    content: "VOL ||||••••••"
}
.volume[data-volume="50"]:after{
    content: "VOL |||||•••••";
}
.volume[data-volume="60"]:after{
    content: "VOL ||||||••••";
}
.volume[data-volume="70"]:after{
    content: "VOL |||||||•••"
}
.volume[data-volume="80"]:after{
    content: "VOL ||||||||••"
}
.volume[data-volume="90"]:after{
    content: "VOL |||||||||•"
}
.volume[data-volume="100"]:after{
    content: "VOL ||||||||||"
}

#video iframe,
#video object,
#video embed,
.responsive iframe,
.responsive object,
.responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}
.tv-menu {
    position: absolute;
    padding-bottom: 56.25%;
    width: 100%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    top: 0;
    z-index: -1;
    color: #F2F2F2;
    background-color: #141414;
    visibility: hidden;
    transition: visibility 0s linear .3s;
}
.menu-overlay .tv-menu {
    visibility: visible;
    transition: visibility 0s linear;
}
.tv-menu .contents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    color: #FFFFFF;
    z-index: 3;
}
.tv-menu .left,
.tv-menu .right {
    word-wrap: break-word;
}
.tv-menu .left {
    float: left;
    width: 40%;
    margin-left: 1.1vw;
    margin-top: 11vw;
}
.zoom .tv-menu .left {
    margin-left: calc(1.1vw * var(--scale-ratio));
    margin-top: calc(11vw * var(--scale-ratio));
}
.tv-menu .right {
    width: 51%;
    float: right;
    display: block;
    margin-right: 1.1vw;
    margin-top: 1.3vw;
}
.zoom .tv-menu .right {
    margin-right: calc(1.1vw * var(--scale-ratio));
    margin-top: calc(1.3vw * var(--scale-ratio));
}
#list-template{
    display: none;
}
.shows{
    display: flex;
    /*flex-direction: column;*/
    /*height: 7.3vw;*/
    /*overflow-y: auto;*/
    overflow-y: hidden;
    /*overflow-x: hidden;*/
}
.zoom .shows{
    height: calc(10.5vw * var(--scale-ratio));
}
.shows li, .zoom .shows li{
    padding: 0;
    margin: 0;
}
.shows li a{
    display: block;
    color: inherit;
    text-decoration: none;
    height: 2.3vw;
    padding: 4px 0 4px 4px;
}
.zoom .shows li a{
    height: calc(2.3vw * var(--scale-ratio));
    padding: calc(4px * var(--scale-ratio)) 0 calc(4px * var(--scale-ratio)) calc(4px * var(--scale-ratio)) 
}
.shows li a:hover{
    background: rgba(255,255,255,.3)
}
.shows a > div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}
.shows .poster{
    width: 4vw;
    margin-right: .5vw;
    flex-grow: 0;
    flex-shrink: 0;
}
.zoom .shows .poster{
    width: calc(4vw * var(--scale-ratio));
    margin-right: calc(.5vw * var(--scale-ratio))
}
.shows .poster div{
    width: 100%;
    padding-bottom: 56.25%;
    background-size: cover;
}
.shows li span{
    display: block;
}
.shows .video-info{
    max-width: 13.1vw;
    flex-grow: 0;
}
.zoom .shows .video-info{
    max-width: calc(13.1vw * var(--scale-ratio))
}
.shows .video-title{
    font-size: 1vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}
.zoom .shows .video-title{
    font-size: calc(1vw * var(--scale-ratio))
}
.shows .video-author{
    font-style: italic;
}
.remote.test {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 5;
}
.remote-area{
    position: fixed;
    display: block;
    z-index: 5;
    bottom: -325px;
    right: 20px;
    transition: .24s ease-out 1s;
}
.tv-on .remote-area{
    bottom: -360px;
}
.tv-on .remote-area:hover{
    bottom: -50px;
    transition: .24s ease-out;    
}
.tips{
    position: absolute;
    display: block;
    width: 120%;
    right: -15%;
    background: #f2f2f2;
    padding: 10px;
    z-index: -2;
    -webkit-clip-path: inset(0% 20px 0% 0%);
    clip-path: inset(0% 20px 0% 0%);
    transition: .24s ease-out;
}
.tips:before {
    content: "";
    display: block;
    height: 100%;
    width: 20px;
    position: absolute;
    left: -20px;
    top: 0;
}
.tips:after {
    content: "";
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: -40px;
    left: 0;
}
.tips:hover, .tv-off .tips{
    right: 105%;
    -webkit-clip-path: inset(0% 0 0% 0%);
    clip-path: inset(0% 0 0% 0%);
}

.remote .top-row, .remote .matrix, .remote .bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
.remote .bottom{
    justify-content: space-around;
    align-items: center
}
.remote .top-row{
    margin-bottom: 15px;
}
.remote .button{
    background: #1E2626;
    color: #F2F2F2;
    padding: 5px;
    line-height: 1;
    font-size: 15px;
    border-radius: 100%;
    min-width: 50px;
    min-height: 18px;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px
}
.button.red{
    background: darkred;
}
.remote-area .remote{
    width: 200px;
    height: 400px;
    position: relative;
    background: #d0d9d8;
    border-radius: 12% 12% 0 0 / 4% 4% 0 0;
    box-sizing: border-box;
    padding: 5px
}
.button{
    pointer-events: none;
}
.button::selection{
    background: none;
}
.button[id]{
    pointer-events: all;
    cursor: pointer;
}
.button[id]:active{
    filter: invert(.7);
    -webkit-filter: invert(.7);
}
.button.wide{
    width: 120px;
    height: 35px;
    margin: 0 10px;
    line-height: 35px;
    flex-grow: 0;
    flex-shrink: 0;
}
.button.large{
    height: 85px;
    min-width: 35px;
    flex-flow: 0;
    flex-shrink: 0;
    line-height: 20px;
    position: relative;
    display: block;
}
.button.large span{
    position: relative;
    top: 50%;
    display: inline-block;
    transform: translateY(-50%);
}
.button.center{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
}
.remote-area .remote:after{
    content: "";
    display: block;
    background: #364444;
    border-top: 28px solid #364444;
    border-left: 15px solid #364444; 
    border-right: 15px solid #364444; 
    border-radius: 40% 40% 0 0 / 7% 7% 0 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -28px;
    left: -15px;
    z-index: -1;
}
.remote-area .remote:before{
    content: "";
    display: block;
    border-top: 29px solid black;
    border-left: 16px solid black; 
    border-right: 16px solid black; 
    border-radius: 40% 40% 0 0 / 7% 7% 0 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -29px;
    left: -16px;
    z-index: -2;
}


/*
.info-bar {
    position: absolute;
    display: none;
    flex-direction: row;
    height: 110px;
    width: 100%;
    background: rgba(0,100,200,.6);
    z-index: 1;
    box-sizing: border-box;
    padding: 2px 20px;
    top: 2px;
}

.info-bar .description{
    flex-grow: 1;
}

.image-container{
    position: relative;
    width: 140px;
    margin-right: 10px;
    margin-top: 14px;
}
.image-container .responsive{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
*/
