@keyframes channel-display {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes animation-reset {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}
@keyframes tvoff {
    0% {
        background: white;
    }
    20% {
        transform: scaleY(.01)
    }
    30% {
        transform: scale(.01, .02);
        border-radius: 0;
    }
    35% {
        border-radius: 100%;
        transform: scale(.01, .02)
    }
    45% {
        transform: scale(.05, .1)
    }
    60% {
        transform: scale(0);
        border-radius: 100%;
    }
    100% {
        transform: scale(0);
        border-radius: 100%;
    }
}
h1 {
    margin: 0 0 .4vw 0;
    font-size: 1.6vw;
}
.contents .left,
.contents .right {
    font-size: .85vw;
}
p {
    margin: 0 0 .5vw 0;
}
ul {
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;
}
ul li {
    text-indent: 0;
    list-style-position: inside;
    margin: 0 0 .3vw 0;
}
.zoom h1 {
    font-size: calc(1.6vw * 1.811624);
}
.zoom .contents .left,
.zoom .contents .right {
    font-size: calc(.85vw * 1.811624);
}
.zoom p {
    margin: 0 0 calc(.5vw * 1.811624) 0;
}
.zoom ul li {
    margin: 0 0 calc(.3vw * 1.811624) 0;
}
.container {
    width: 100%;
    height: 100%;
    position: relative;
    transition: .3s ease-out;
    transform-origin: 53.9% 39.3%;
}
.zoom {
    transform: scale(1.811624);
}
.rick-bg {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    pointer-events: none
}
body {
    overflow: hidden;
    background: rgb(181, 213, 179);
    /*cursor: url(../images/rick-hand-64.png) 10 2, url(../images/rick-hand-small.png) 20 2, auto;*/
}
body * {
    /*cursor: url(../images/rick-hand-64.png) 10 2, url(../images/rick-hand-small.png) 20 2, auto;*/
}
html[data-useragent*=Firefox] #video {
    z-index: 2;
}
html[data-useragent*=Firefox] #video:before {
    display: none;
}
.cover {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    z-index: 4
}
.tv-on .cover {
    display: none;
}
.tv-off .cover.animated {
    z-index: 5;
    animation: tvoff .6s ease-out;
}
#video {
    width: 36.8%;
    top: 25.2%;
    position: absolute;
    left: calc(52.25%);
    transform: translateX(-50.1%);
    z-index: 1;
}
#video:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: black;
    top: 0;
    z-index: -1;
    transform: scale(1.05);
}
#video::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: scale(1.05);
    pointer-events: none;
    transition: .3s ease-out;
}
html[data-useragent*=Firefox] #video:after {
    background: url(../images/tv-cover.png) center;
    background-size: contain;
}
html[data-useragent*=Firefox] .menu-overlay #video:after,
html[data-useragent*=Firefox] .menu-overlay #video::before {
    margin-top: -1%;
}
.zoom #video {
    width: 66.667%;
    top: 10.5%;
    transform: translateX(-50.1%) scale(.55199092085);
}
#yt-contain {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    top: 0;
    transform-origin: 5% 11%;
    transform: scale(1);
    transition: .4s ease-out, border .4s linear;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 1);
    backface-visibility: hidden;
    border: 0px solid white;
    /*    display: none;*/
}
.channel:after,
.mute .channel:before {
    display: block;
    position: absolute;
    font-family: "Arial", sans-serif;
    font-size: 36px;
    font-size: 1.88vw;
    color: limegreen;
    backface-visibility: hidden;
    padding: 5px;
    opacity: 0;
    top: 4.5%;
    pointer-events: none
}
.channel:after {
    background: rgba(0, 0, 0, .5);
    content: "CH-" attr(data-channel-id);
    left: 2.15%;
    opacity: 1;
}
.mute .channel:before {
    content: "\01F507";
    opacity: 1;
    right: 2.15%;
    font-size: 2.4vw;
    z-index: 1;
    line-height: 1;
}
.channel.show:after {
    animation: channel-display 5s forwards;
}
.channel.reset:after {
    animation: animation-reset .1s forwards;
}
.menu-overlay .channel:after {
    animation: none;
}
.zoom.mute .channel:before {
    font-size: calc(2.4vw * 1.811624);
}
.zoom #yt-contain:after {
    font-size: calc(1.88vw * 1.811624);
}
.menu-overlay #yt-contain {
    transform: scale(.41);
    border: 6px solid white;
}
.zoom .menu-overlay #yt-contain {
    border: calc(6px * 1.811624) solid white;
}
#video iframe,
#video object,
#video embed,
.responsive iframe,
.responsive object,
.responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}
.tv-menu {
    position: absolute;
    padding-bottom: 56.25%;
    width: 100%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    top: 0;
    z-index: -1;
    color: #F2F2F2;
    background-color: #141414;
    visibility: hidden;
    transition: visibility 0s linear .3s;
}
.menu-overlay .tv-menu {
    visibility: visible;
    transition: visibility 0s linear;
}
.tv-menu .contents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    color: #FFFFFF;
    z-index: 3;
}
.tv-menu .left,
.tv-menu .right {
    word-wrap: break-word;
}
.tv-menu .left {
    float: left;
    width: 40%;
    margin-left: 1.1vw;
    margin-top: 11vw;
}
.zoom .tv-menu .left {
    margin-left: calc(1.1vw * 1.811624);
    margin-top: calc(11vw * 1.811624);
}
.tv-menu .right {
    width: 51%;
    float: right;
    display: block;
    margin-right: 1.1vw;
    margin-top: 1.3vw;
}
.zoom .tv-menu .right {
    margin-right: calc(1.1vw * 1.811624);
    margin-top: calc(1.3vw * 1.811624);
}
.remote {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 5;
}

/*
.info-bar {
    position: absolute;
    display: none;
    flex-direction: row;
    height: 110px;
    width: 100%;
    background: rgba(0,100,200,.6);
    z-index: 1;
    box-sizing: border-box;
    padding: 2px 20px;
    top: 2px;
}

.info-bar .description{
    flex-grow: 1;
}

.image-container{
    position: relative;
    width: 140px;
    margin-right: 10px;
    margin-top: 14px;
}
.image-container .responsive{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
*/
